absl-py==0.6.1
astor==0.7.1
bert-serving-client==1.9.1
bert-serving-server==1.9.1
boto==2.49.0
boto3==1.9.96
botocore==1.12.96
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gast==0.2.0
GPUtil==1.4.0
grpcio==1.16.0
h5py==2.8.0
idna==2.8
jmespath==0.9.3
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
mock==2.0.0
nltk==3.4.1
numpy==1.16.4
pandas==0.23.0
pbr==5.1.2
protobuf==3.6.1
pybind11==2.3.0
pyemd==0.5.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pyzmq==18.0.1
requests==2.21.0
s3transfer==0.2.0
scikit-learn==0.21.2
scipy==1.2.1
six==1.11.0
sklearn==0.0
smart-open==1.8.2
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.7.2
tensorflow-hub==0.4.0
termcolor==1.1.0
testfixtures==6.7.1
urllib3==1.24.1
